<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title>BenchBnB</title>
=======
  <title>Quorum</title>
>>>>>>> edc3548ed4ab3a0306e9d6ec7e1e38f4fd3a90ca
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<<<<<<< HEAD

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRMHeSqoBaFXMWOtgT3R0V08B4puPgEOk">
  </script>

  <%= yield %>
=======
<%= yield %>

>>>>>>> edc3548ed4ab3a0306e9d6ec7e1e38f4fd3a90ca
</body>
</html>
